.container {
  padding: 3vw 6vw 6.6vmax 6vw;
  background-color: black;
}

.title {
  font-weight: 500;
  font-size: 36px !important;
  color: white;
}

.description {
  font-size: 16px;
  line-height: 1.8;
  color: white;
  margin-top: 6%;
}

.text {
  white-space: pre-wrap;
}

.image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}