.container {
  padding: 3vw 6vw;
  background-color: black;
}

.row {
  --bs-gutter-x: 3.75vw;
  --bs-gutter-y: 3.75vw;
}

.itemWrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}