.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  flex-grow: 1;
  width: 100%;
  height: 480px;
  max-height: calc(100vw - 120px);
  color: black;
}

.image {
  width: 178px;
  height: 178px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  place-content: center;
  overflow: hidden;
}

.title {
  font-weight: 700;
  /* font-size: 28px; */
  /* font-size: 4rem; */
  color: white;
  margin-top: 20px;
}
@media (min-width: 576px) {
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .title {
    font-size: 3rem;
  }
}

@media (min-width: 1600px) {
  .title {
    font-size: 4rem;
  }
}
.address{
  color: white;
}

.text {
  font-weight: 500;
  /* font-size: 16px; */
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 16px;
}

.desc {
  /* font-weight: 600; */
  /* font-size: 14px; */
  font-size: 1.5rem;
  color: white;
  margin-top: 16px;
}
