.container {
  z-index: 11;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 6vw;
}

.title {
  font-weight: 500;
  font-size: calc((2 - 1) * 1.2vw + 1rem);
  line-height: 1.4rem;
}

.navmenu {
  height: 28px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.navmenu:hover {
  color: white;
}

.navactive {
  border-bottom: 1px solid white;
}

.modalmenu {
  position: fixed;
  z-index: 1;
  padding-top: 102.42px;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  user-select: none;
  text-align: center;
  transition: visibility 600ms cubic-bezier(.4,0,.2,1),opacity 400ms cubic-bezier(.4,0,.2,1);
}

.openmenu {
  opacity: 1;
  visibility: visible;
}

.modalbg {
  background-color: #dfe0e1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modalWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.modalNavList {
  position: relative;
  flex-grow: 1;
  width: 100%;
  transition: transform 600ms cubic-bezier(.4,0,.2,1);
}

.modalNavFolder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 600ms cubic-bezier(.4,0,.2,1);
}

.modalNavContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
  width: 100%;
}

.modalNavActions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6vw;
  gap: 0.5rem;
}

.modalMenuText {
  font-weight: 400;
  font-size: 8vmin;
}

@media (min-width:768px) {
  .headerWrapper {
    padding: 2.5vw 3vw;
  }
}